@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


body {
    display: flex;
    flex-direction: row;
    background-color: #1a1a1a;
    color: #EDB0F6;
    font-family: 'Montserrat', sans-serif;
    padding-left: 5vw;
    padding-top: 5vh;
}

section {
    padding-top: 5vh;
}

img {
    width: 25vw;
    height: auto;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-bottom: 5vh;
    padding-top: 5vh;
}

